/* line 1, ../sass/main.scss */
html {
  overflow-y: scroll;
}

/* line 4, ../sass/main.scss */
body {
  padding-top: 50px;
}

/* line 7, ../sass/main.scss */
#todo-list {
  margin-bottom: 30px;
}

/* line 10, ../sass/main.scss */
.test {
  font-weight: bold;
}
