html{
	overflow-y:scroll;
}
.clear{
	clear:both;
}
.heading{
	margin:40px 0 20px 0;
	padding:20px;
	border-radius:4px;
	background:#ccc;
}
.dir-form{

	.form-group{
		float:left;
		width:100%;
		clear:both;

		input{
			height: 45px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 6px;
			padding-right: 100px;
			text-align:left;
		}
	}
	button{
		float:left;
		padding: 10px 11px;
		margin-left: -58px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}
.tree-container{
	margin-bottom:40px;
}